# Python
__pycache__/
*.py[cod]
*$py.class

# Entornos virtuales
venv/
env/

# Django
*.log
db.sqlite3
media/

# VSCode (opcional)
.vscode/

# Sistema
.DS_Store
Thumbs.db
edutech/__pycache__/urls.cpython-312.pyc
.idea/